* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  font-size: 28px;
  background: linear-gradient(to right, lightgray, gray);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  margin-top: 150px;
  text-align: center;
}

.btns {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btns button {
  font-size: 20px;
  padding: 7px 14px;
  border-radius: 5px;
  border: none;
  outline: none;
  margin-right: 12px;
}
